.banner {
    background-image: url("../image/banner.jpg");
    padding: 152px 0 39px 112px;
    margin-bottom: 59px;
}

.banner__text {
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 92px;
}

.banner__timer {
    color: #FFFFFF;
    text-align: center;
    padding-right: 112px;
}

.timer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.timer__number {
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-right: 4px;
}

.timer__text {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    margin-right: 26px;
}

.timer__text:last-child {
    margin-right: 0;
}

@media (max-width: 1620px) {
    .banner {
        padding: 83px 0px 33px 80px;
        margin-bottom: 22px;
    }

    .banner__text {
        font-size: 40px;
        margin-bottom: 11px;
        max-width: 400px;
    }

    .timer {
        padding-right: 76px;
    }

    .timer__title {
        margin-bottom: 12px;
    }

    .timer__number {
        font-size: 40px;
        margin-right: 1px;
    }

    .timer__text {
        font-size: 20px;
        margin-right: 18px;
    }
}

@media (max-width:950px) {
    .banner {
        padding: 66px 0 28px 80px;
        margin-bottom: 40px;
    }

    .banner__text {
        font-size: 30px;
        margin-bottom: 82px;
    }

    .timer {
        padding-right: 81px;
    }

    .timer__title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .timer__number {
        font-size: 30px;
    }

    .timer__text {
        font-size: 16px;
        margin-right: 5px;
    }
}

@media (max-width:640px) {
    .banner {
        padding: 52px 0 28px 28px;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .banner__text {
        font-size: 22px;
        margin-bottom: 188px;
    }

    .timer {
        padding-right: 28px;
    }

    .timer__title {
        font-size: 8px;
        margin-bottom: 7px;
    }

    .timer__number {
        font-size: 20px;
        margin: 0;
    }

    .timer__text {
        font-size: 12px;
        margin-right: 3px;
    }
}