@media (max-width: 1620px) {
    .main {
        padding: 25px 0 106px;
    }

    .promo__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 217px) 418px;
        gap: 24px;
    }

    .promo__text-normal {
        font-size: 30px;
        line-height: 40px;
    }

    .promo__text-normal_weigth_regular {
        padding: 29px 45px 21px 26px;
    }

    .promo__text-normal_style_uppercase {
        max-width: 513px;
        padding: 21px 45px;
    }

    .promo__text-small {
        font-size: 24px;
    }

    .promo__text-small_weigth_regular {
        font-size: 24px;
    }

    .promo__text-big {
        font-size: 40px;
    }

    .promo__text-book {
        padding-right: 15px;
    }

    .promo__text-gifts {
        padding-right: 50px;
    }

    .promo__text-chemistry {
        font-size: 20px;
    }

    .promo__discount-bottom {
        bottom: 10px;
        right: 10px;
    }

    .promo__discount-top {
        top: 10px;
        left: 10px;
    }

    .promo__item_bg-image_book {
        padding-left: 9px;
    }

    .promo__item_bg-image_clock {
        padding: 58px 0px 0 12px;
    }

    .promo__item_bg-image_two-sneakers {
        padding: 22px;
        grid-row: 1/3;
    }

    .promo__item_bg-image_gifts {
        padding: 27px 20px;
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .promo__item_bg-image_laptop {
        padding: 20px;
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .promo__item_bg-image_2022 {
        padding: 41px 32px;
        grid-column: 1/5;
        grid-row: 5/6;
        border-radius: 16px;
    }

    .promo__item_bg-image_woman {
        grid-row: 3/5;
    }

    .promo__item_bg-image_chemistry {
        padding: 7px 18px;
        font-size: 20px;
        grid-row: 3/4;
    }

    .promo__item_bg-image_christmas-toys {
        grid-row: 4/5;
    }
}

@media (max-width: 950px) {
    .promo__list {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr) 220px 1fr;
        grid-template-rows: repeat(2, 140px) repeat(4, 60px) 337px;
    }

    .promo__item {
        border-radius: 12px;
        padding: 0;
    }

    .promo__discount {
        padding: 15px 6px 14px;
        font-size: 16px;
    }

    /*стили текста*/

    .promo__text-normal {
        font-size: 16px;
        line-height: 120%;
    }

    .promo__text-small {
        font-size: 20px;
    }

    .promo__text-small_weigth_regular {
        font-size: 20px;
        line-height: 110%;
    }

    .promo__text-normal_weigth_regular {
        padding: 14px 28px 11px 28px;
        font-size: 16px;
        border-radius: 12px
    }

    .promo__text-normal_style_uppercase {
        border-radius: 12px;
        font-size: 20px;
        padding: 22px 33px;
    }

    .promo__text-big {
        font-size: 26px;
        display: unset;
    }

    .promo__text-book {
        font-size: 26px;
        line-height: 98%;
    }

    .promo__text-clock {
        font-size: 16px;
    }

    .promo__text-gifts {
        padding-right: 70px;
    }

    .promo__text-chemistry {
        font-size: 16px;
        line-height: 120%;
    }

    /*элементы сетки*/

    .promo__item_bg-image_book {
        padding: 15px 10px;
    }

    .promo__item_bg-image_clock {
        padding: 7px 6px;
        font-size: 16px;
    }

    .promo__item_bg-image_two-sneakers {
        padding: 10px;
        grid-row: 1/4;
    }

    .promo__item_bg-image_gifts {
        padding: 20px;
        grid-row: 3/5;
    }

    .promo__item_bg-image_laptop {
        padding: 20px;
        grid-row: 5/7;
    }

    .promo__item_bg-image_woman {
        background-position: top;
        grid-row: 4/7;
    }

    .promo__item_bg-image_chemistry {
        padding: 14px;
        grid-row: 4/6;
    }

    .promo__item_bg-image_christmas-toys {
        background-position: bottom;
        grid-row: 6/7;
    }

    .promo__item_bg-image_2022 {
        padding: 26px;
        grid-row: 7/8;
        background-position-y: 71%;
    }
}

@media (max-width:640px) {
    .promo__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 170px 170px 280px repeat(2, 170px) repeat(2, 160px) 280px;
    }

    .promo__text {
        font-size: 24px;
    }

    .promo__text-normal_weigth_regular {
        font-size: 22px;
    }

    .promo__text-big {
        font-size: 24px;
    }

    .promo__item_bg-image_book {
        padding: 10px;
    }

    .promo__item_bg-image_clock {
        padding: 10px;
    }

    .promo__item_bg-image_sneaker {
        background-position-y: 65%;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .promo__item_bg-image_two-sneakers {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .promo__item_bg-image_two-sneakers {
        padding: 10px;
        text-align: center;
    }

    .promo__item_bg-image_gifts {
        background-position-y: 65%;
        padding: 14px 10px;
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .promo__item_bg-image_laptop {
        padding: 14px 10px;
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .promo__item_bg-image_woman {
        grid-column: 1/2;
        grid-row: 6/8;
    }

    .promo__item_bg-image_chemistry {
        padding: 8px 10px;
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .promo__item_bg-image_christmas-toys {
        background-position: left;
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .promo__item_bg-image_2022 {
        padding: 10px 15px;
        grid-column: 1/3;
        grid-row: 8/9;
    }
}

@media (max-width: 480px) {
    .main {
        padding-top: 20px;
    }

    .promo__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 130px 118px 280px repeat(2, 118px) repeat(2, 130px) 123px;
    }

    .promo__item {
        padding: 0;
        border-radius: 8px;
    }

    .promo__discount {
        padding: 15px 6px 13px 5px;
    }

    .promo__discount-bottom {
        right: 5px;
        bottom: 5px;
    }

    .promo__discount-top {
        left: 5px;
        top: 5px;
    }

    .promo__discount-woman {
        bottom: 10px;
        right: 10px;
    }

    /* стили текста */
    .promo__text {
        font-size: 12px;
    }

    .promo__text-normal_weigth_regular {
        padding: 8px 24px 5px;
    }

    .promo__text-normal_style_uppercase {
        padding: 7px 41px 9px;
        border-radius: 6px;
    }

    .promo__text-book {
        padding-right: 30px;
        font-size: 16px;
    }

    .promo__text-big {
        font-size: 16px;
    }

    /* элементы сетки */

    .promo__item_bg-image_book {
        padding: 7px 10px;
    }

    .promo__item_bg-image_clock {
        padding: 19px 11px;
    }

    .promo__item_bg-image_sneaker {
        background-position-y: 65%;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .promo__item_bg-image_two-sneakers {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .promo__item_bg-image_two-sneakers {
        padding: 10px;
    }

    .promo__item_bg-image_gifts {
        background-position-y: 65%;
        padding: 14px 10px;
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .promo__item_bg-image_laptop {
        padding: 14px 10px;
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .promo__item_bg-image_woman {
        grid-column: 1/2;
        grid-row: 6/8;
    }

    .promo__item_bg-image_chemistry {
        padding: 8px 10px;
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .promo__item_bg-image_christmas-toys {
        background-position: left;
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .promo__item_bg-image_2022 {
        background-position-y: center;
        padding: 10px 15px;
        grid-column: 1/3;
        grid-row: 8/9;
    }
}