.main {
    padding: 49px 0 190px;
}

.promo__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 245px);
    gap: 60px;
}

.promo__text-normal {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}

.promo__text-normal_weigth_regular {
    font-weight: 400;
    line-height: 120%;
    border-radius: 20px;
    background: #38C0EB;
    padding: 28px 25px;
}

.promo__text-normal_style_uppercase {
    color: #F91155;
    line-height: 120%;
    text-transform: uppercase;
    padding: 32px 41px;
    border-radius: 20px;
    background: #FFF;
}

.promo__text-small {
    font-size: 30px;
    line-height: 39px;
}

.promo__text-small_weigth_regular {
    font-weight: 400;
}

.promo__text-big {
    font-size: 54px;
    font-weight: 700;
    line-height: 145%;
}

.promo__discount {
    position: absolute;
    background-color: #FFBD13;
    border-radius: 50%;
    padding: 24px 8px;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
}

.promo__discount-bottom {
    bottom: 20px;
    right: 20px;
}

.promo__discount-top {
    top: 20px;
    left: 20px;
}

.promo__item_bg-image_book {
    padding: 20px;
    background: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/book.jpg") lightgray 50%;
}

.promo__item_bg-image_clock {
    padding: 78px 0 0 14px;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/clock.jpg"), lightgray 50%;
}

.promo__item_bg-image_two-sneakers {
    padding: 22px 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), url("../image/two-sneakers.jpg"), lightgray 0px -120.046px / 107.818% 143.653%;
    grid-column: 3 / 5;
    grid-row: 1/3;
}

.promo__item_bg-image_gifts {
    padding: 30px;
    grid-column: 5 / 7;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/gifts.jpg"), lightgray 0px -95.797px / 100% 160.658%;
}

.promo__item_bg-image_sneaker {
    grid-column: 1 / 3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/sneaker.jpg"), lightgray 0px -95.797px / 100% 160.658%;
}

.promo__item_bg-image_laptop {
    padding: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/laptop.jpg"), lightgray -1px -82.902px / 100% 160.658%;
    grid-column: 5 / 7;
}

.promo__item_bg-image_2022 {
    padding: 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), url("../image/2022.jpg"), lightgray 0px -220.927px / 100% 168.709%;
    grid-column: 1 / 5;
    grid-row: 3 / 5;
}

.promo__item_bg-image_woman {
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/woman.jpg"), lightgray 50%;
    grid-row: 3 / 5;
}

.promo__item_bg-image_chemistry {
    padding: 20px;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/chemistry.jpg"), lightgray -71.671px 0px / 139.732% 100%;
}

.promo__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    color: #FFF;
}

.promo__item_bg-image_christmas-toys {
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("../image/christmas-toys.jpg"), lightgray -1.488px -95.636px / 194.276% 139.035%;
    transform: scale(-1, 1);
    background-position: left;
}

.promo__item-clock {
    align-items: flex-start;
}